{% extends 'base.html.twig' %}

{% block title %}Hello JbarbierController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/css/portfolio2.css">
    <div class="container">
        <div class="row">
            <h1>Connecter les entreprises et les usagers</h1>
            <div class="row">
                <div class="progress-outer">
                    <div class="card-transparent border-primary mx-auto" style="max-width: 60rem;">
                        <div class="card-body">
                            <p class="card-text">Mesurer et analyser les signaux (audio et vidéo, ordres de grandeurs, comprendre la dualité temps/fréquence et utiliser des équipements d’analyse spectrale, avec projets autour de la chaîne d’acquisition/traitement)</p>
                            <p class="card-content">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:77%;"></div>
                                    <div class="progress-value">77%</div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="progress-outer">
                    <div class="card-transparent border-primary mx-auto" style="max-width: 60rem;">
                        <div class="card-body">
                            <p class="card-text">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</p>
                            <p class="card-content">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:32%;"></div>
                                    <div class="progress-value">32%</div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="progress-outer">
                    <div class="card-transparent border-primary mx-auto" style="max-width: 60rem;">
                        <div class="card-body">
                            <p class="card-text">Déployer des supports de transmission (traitement au choix de la propagation, câblage LAN, fibre optique, ou une introduction à l’IoT)</p>
                            <p class="card-content">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:90%;"></div>
                                    <div class="progress-value">90%</div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="progress-outer">
                    <div class="card-transparent border-primary mx-auto" style="max-width: 60rem;">
                        <div class="card-body">
                            <p class="card-text">Connecter les systèmes de ToIP (s’interprétant ici comme la possibilité de se connecter au réseau téléphonique)</p>
                            <p class="card-content">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:15%;"></div>
                                    <div class="progress-value">15%</div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="progress-outer">
                    <div class="card-transparent border-primary mx-auto" style="max-width: 60rem;">
                        <div class="card-body">
                            <p class="card-text">Communiquer avec un client ou un collaborateur</p>
                            <p class="card-content">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:65%;"></div>
                                    <div class="progress-value">65%</div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
